.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 40px);
  height: calc(var(--vh, 1vh) * 100 - 40px);
  background-color: #000;
  overflow: hidden;

  @include media($pad) {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
}

.main {
  width: 100%;
  height: 100%;
  max-width: 576px;
  position: relative;

  .snow-top {
    position: absolute;
    top: -30px;
    left: 0;
    max-width: 100%;
  }
}

#app {
  width: 100%;
  height: 100%;
}

canvas {
  max-width: 576px;
  max-height: 768px;
}
