// Header
header {
  position: relative;
  z-index: 50;
  display: block;
  height: 2.5rem;
  background-color: #dc2626;
  font-size: 0.75rem;
  color: white;

  @include media($pad) {
    display: none;
  }

  .header-container {
    margin: 0 auto;
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 0 0.75rem;

    @include media($wide) {
      gap: 0.5rem;
      padding: 0 0.5rem;
    }
  }

  // 左欄
  .header-left {
    display: flex;
    align-items: center;
    gap: 0;

    a {
      img {
        height: 22px;
        width: 160px;
      }
    }
  }

  // 右欄
  .header-right {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    @include media($wide) {
      gap: 0.5rem;
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      &.app-download {
        position: relative;
        display: flex;
        height: 100%;
        cursor: pointer;
        gap: 0.75rem;

        @include media($wide) {
          display: none;
        }

        .qrcode-popup {
          position: absolute;
          right: 0;
          top: 100%;
          display: none;
          width: 150px;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

          img {
            height: 150px;
            width: 150px;
          }
        }

        &:hover .qrcode-popup {
          display: block;
        }
      }
    }

    .divider {
      display: block;
      height: 50%;
      width: 1px;
      background-color: #9c9c9c;
    }

    .social-links {
      a {
        img {
          height: 28px;
          width: 28px;

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }
}
