@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap");

* {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans TC", "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;

  @include media($pad) {
    -webkit-overflow-scrolling: touch;
  }
}
